.wrapper {
    margin-top: 80px;
}

.title {
    font-size: 2.6rem;
    text-align: center;
    text-transform: capitalize;
}

.product {
    position: relative;
    margin-top: 70px;
    margin-bottom: 80px;
}