.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 170px;
    width: 100%;
    background-color: var(--white);
    transition: .3s linear;
    z-index: 100;
}

.header-shrink {
    box-shadow: 0 8px 24px hsla(210, 8%, 62%, .2);
    height: 70px;
    z-index: 100;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.nav-item {
    font-size: 1.95rem;

    +.nav-item {
        margin-left: 29px;
    }

    a {
        padding: 10px 10px;

        &:first-child {
            padding: 10px 10px 10px 0;
        }
    }


    &:hover a {
        color: var(--primary);
        transition: .1s linear;
    }
}

.active {
    color: var(--primary);
    font-weight: 600;
}

.logo {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    img {
        width: 100px;
        transition: all .3s linear;
    }
}

.logo-shrink {

    img {
        width: 70px;
    }
}

.action {
    position: relative;
}

.search,
.cart,
.user {
    border: none;
    color: var(--text-color);
    margin-left: 0 !important;

    &:hover {
        color: var(--primary);
    }
}

.user {
    padding: 8px 18px;
}

.user_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 350px;
}

.user_content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 70px;

    img {
        width: 70px;
    }
}

.user_info {
    width: 200px;
}

.username {
    display: flex;
    align-items: center;
}

.username_label {
    font-weight: 600;
    color: var(--primary);
}

.username_value_name {
    margin-left: 38px;
}

.username_value_date {
    margin-left: 15px;
    font-size: 1.3rem;
}


.quality {
    align-items: center;
    background-color: var(--primary);
    border-radius: 45%;
    color: #fff;
    display: flex;
    font-size: 1.2rem;
    height: 20px;
    justify-content: center;
    position: absolute;
    right: 70px;
    top: 5px;
    width: 25px;
}

.menu-mobile-bar,
.back {
    display: none;
}


// responesive

@media only screen and (max-width: 1024px) {

    .menu-mobile-bar,
    .back {
        display: block;
    }

    .wrapper,
    .header-shrink {
        box-shadow: 0 8px 24px hsla(210, 8%, 62%, .2);
        height: 100px;
    }

    .quality {
        top: 10px;
        right: 75px;
    }

    .logo,
    .logo-shrink {

        img {
            width: 100px;
        }
    }

    .nav {
        background-color: var(--white);
        flex-direction: column;
        height: 100vh;
        justify-content: flex-start;
        left: 0;
        padding-top: 30px;
        position: absolute;
        top: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        transition: -webkit-transform .5s ease;
        transition: transform .5s ease;
        transition: transform .5s ease, -webkit-transform .5s ease;
        width: 100%;
        z-index: 102;
    }

    .nav-active {
        transform: translateX(0);
    }

    .nav-item {
        font-size: 3rem;
        margin-bottom: 25px;

        +.nav-item {
            margin-left: 0;
        }
    }


    .back {
        position: absolute;
        top: 40px;
        left: 40px;
    }
}

// phone
@media only screen and (max-width: 600px) {

    .wrapper,
    .header-shrink {
        box-shadow: 0 8px 24px hsla(210, 8%, 62%, .2);
        height: 70px;
    }

    .search {
        display: none;
    }

    .quality {
        right: 60px;
    }

    .user {
        padding: 10px 15px;
    }

    .logo,
    .logo-shrink {

        img {
            width: 70px;
        }
    }
}