.wrapper {
    user-select: none;
}

.title {
    margin-bottom: 16px;
    font-size: 1.625rem;
    font-weight: 600;
    text-transform: capitalize;
}

.type,
.color,
.size {
    margin-bottom: 26px;
    width: 100%;
}

.toggle-sidebar,
.back {
    display: none;
}

//responsive 
@media only screen and (max-width: 1024px) {
    .wrapper {
        background-color: #fff;
        height: 100vh;
        left: 0;
        padding: 1rem;
        position: fixed;
        top: 99px;
        transform: translateX(-100%);
        transition: -webkit-transform .3s ease;
        transition: transform .3s ease;
        transition: transform .3s ease, -webkit-transform .3s ease;
        width: -webkit-max-content;
        width: 200px;
        z-index: 98;
        overflow: scroll;
    }

    .mobile {
        transform: translateX(0);
        box-shadow: 0 8px 24px hsla(210, 8%, 62%, .2);
    }

    .toggle-sidebar {
        display: block;
        position: absolute;
        top: 120px;
        left: 20px;
    }

    .back {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .type,
    .color,
    .size {
        margin-bottom: 10px;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {

    .wrapper {
        background-color: #fff;
        height: 100vh;
        left: 0;
        padding: 1rem;
        position: fixed;
        top: 70px;
        transform: translateX(-100%);
        transition: -webkit-transform .3s ease;
        transition: transform .3s ease;
        transition: transform .3s ease, -webkit-transform .3s ease;
        width: -webkit-max-content;
        width: 200px;
        z-index: 98;
        overflow: scroll;
    }

    .mobile {
        transform: translateX(0);
        box-shadow: 0 8px 24px hsla(210, 8%, 62%, .2);
    }

    .title {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
}